.chat-main
  .chat-main__group-info
    .main-top-items
      .main-top-items-left
        .main-top-items-left--group
          group
        .main-top-items-left--members
          Member : masaki
      = link_to "#", class:"main-top-items-right" do
        Edit
  .chat-main__message-list
    .message-items
      .message-items--top
        .message-items--top__neme
          masaki
        .message-items--top__time
          2019/12/19(wed) 17:43:01
      .message-items__bottom
        新しいメッセージ
    .message-items
      .message-items--top
        .message-items--top__neme
          masaki
        .message-items--top__time
          2019/12/19(wed) 17:43:01
      .message-items__bottom
        新しいメッセージ   
  .chat-main__message-form
    %form
      %input.form__message
        .form__mask
          %label.form__mask__image
            = icon('fa','image',class:'icon')
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit',value: 'Send'}
    