.side-bar{
  display: block;
  float: left;
  width: 300px;
  height: 100vh;
   &__user-name{
    display: block;
    background-color:#253141;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   &__group-list{
     display: block;
     background-color: #2f3e51;
     height: calc(100vh - 100px);
     width: 300px;
   }
}

.top-items{
  background-color: #253141;
  width: 260px;
  height: 20px;
  &__name{
    color: #ffffff;
    height: 20px;
    line-height: 20px;
    float: left;
  }  
  &__icons{
    height: 20px;
    line-height: 20px;
    width: 60px; 
    float: right;
    display: flex;
    justify-content: flex-end;
     &--edit{
      color:#ffffff;
      margin-right: 5px;
     }
     &--cog{
      color: #ffffff;
     }
  }
}

.side-bar-items{
  position:  relative;
  width: 300px;
  height: 91px;
   &__group{
     position: absolute;
     color: #ffffff;
     font-size: 15px;
     top: 20px;
     left: 20px;
   }
   &__text{
     position: absolute;
     color: #ffffff;
     font-size: 11px;
     margin-top: 5px;
     top: 40px;
     left: 20px;
   }
}